.editFormContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.editInput {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #88F2A2;
    border-radius: 6px;
    background-color: white;
    color: #404040;
    min-width: 0;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.saveBtn {
  background-color: #458C57;
  color: white;
}

.cancelBtn {
  background-color: #00000055;
    color: white;
}