.container {
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.createButton {
  margin: 60px 0;
  padding: 12px 24px;
  background: #458C57; /* verde principal */
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
}

.createButton:hover {
  background: #367046; /* verde mais escuro no hover */
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(64, 64, 64, 0.2); /* sombra leve da paleta */
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
