.homeContainer {
    background: linear-gradient(135deg, #458C57 0%, #88F2A2 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}

.cardsSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 95%;
    max-width: 1000px;
    margin-top: 40px;
}

/* Responsividade */
@media (max-width: 1000px) {
    .homeContainer {
        padding: 15px;
    }
    
    .cardsSection {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 30px;
    }
    
    .profile {
        padding: 20px;
    }
    
    .profile img {
        width: 100px;
        height: 100px;
    }
}